<% layout("/layouts/boilerplate.ejs") %>

<body>

        <h3 id="secondary-title">Unleashing the Power of AI for Object Detection</h3>
        <p>"Powered by YOLOv11, PerceptionX turns images and videos into actionable insights—driving automation, advancing security, and unlocking new frontiers in AI vision." See beyond—every frame tells a story.</p>
        <a href="/detect" class="getStarted">
            <div class="getStarted-hover"></div>
            <span class="getStarted-text">
                <!-- Get Started for Free <img class="getStarted-arrow" src="https://img.icons8.com/?size=100&id=DUEu4KFahGkW&format=png&color=000000" alt=""> -->
                <!-- Get Started for Free <img class="getStarted-arrow" src="https://img.icons8.com/nolan/64/triquetra.png" alt="triquetra"/> -->
                Get Started for Free <img class="getStarted-arrow" src="/assets/triquetra2.png" alt="triquetra"/>
            </span>
        </a>


</body>

<script>
window.onload = function () {
    document.querySelector(".getStarted-arrow").style.animation = "rotateIcon 1.5s linear infinite";
};

</script>
